@import "tailwindcss";

:root {
   --color-bg: #F8F9FA;
  --color-primary: #4f88b6;      
  --color-secondary: #E07A5F; 
  --color-text: #1D2D2C;
  --color-text-light: #526362;
  --color-white: #FFFFFF;

  --radius-organic: 12px;  

  --font-title: 'Cormorant Garamond', serif;
  --font-body: 'Open Sans', sans-serif;

  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);
}

@theme {
  --color-bg: #F8F9FA;
  --color-primary: #4f88b6;      
  --color-secondary: #E07A5F; 
  --color-text: #1D2D2C;
  --color-text-light: #526362;
  --color-white: #FFFFFF;

  --radius-organic: 12px; 

  --font-title: 'Cormorant Garamond', serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}