@import "tailwindcss";

:root {
  --color-bg: #F5F2ED;           /* Fond */
  --color-primary: #a9bda4;      /* Actions principales */
  --color-secondary: #D4A5A5;    /* Accents doux */
  --color-text: #2b2c2b;         /* Texte lisible */
  --color-text-light: #6B7A72;   /* texte secondaire */
  --color-white: #FFFFFF;        /* contrastes */

  --font-title: 'Cormorant Garamond', serif;
  --font-body: 'Open Sans', sans-serif;

  --radius-organic: 20px;
  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);
}

@theme {
  --color-bg: #F5F2ED;
  --color-primary: #5E8C8A;
  --color-secondary: #D4A5A5;
  --color-text: #334139;
  --color-text-light: #6B7A72;
  --color-white: #FFFFFF;

   --font-title: 'Cormorant Garamond', serif;
  --font-body: 'Open Sans', sans-serif;

  --radius-organic: 24px;
  --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);

}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}